img {
  width: 50%;
  height: 50%;
}

#tabs {
  width: 400px;
  font-size: 40px;
}

.gray:hover {
  background-color: #d3d3d3;
}

.navB:hover {
  background-color: #454a4f;
}

#carouselExampleControls {
  width: 100vw;
}

#footer {
  background-color: #333;
  height: 350px;
  width: 100vw;
}

.white {
  color: white;
}

#white {
  color: white;
}

#short {
  width: 400px;
}

.small {
  height: 45px;
  width: 45px;
}
